
#title {
  background-color: #000;
  color: #fff;
}

body {
  font-family: "montserrat"
}

.container-fluid{
  padding: 2% 15% 3% 0%;
}

h1{
  color: white;
  font-family: "montserrat";
  font-size: 5.0rem;
  line-height: 1.0;
}

/* nav_bar */

.pad-top{
  margin-top: 35%;
  margin-left: 25%;
  font-size: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.0rem;
  font-weight: bold;
}
.nav-pad{
  margin-left: 7%;
  margin-right: 10%;
}

.navbar{
  padding: 0 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "montserrat-thick";
}
.navbar-nav > li{
  padding-right: 1rem;
}

.download-btn{
  margin-top: 5%;
  margin-left: 40%;
  width: 170px;
}
.lg-btn{
  font-family: "Ubuntu";
}
.btn-pad{
  margin: 0 -2rem;
}
img.one {
  height: 100%;
  width: 100%;
  /* position: absolute; */
}
/* feature classes */

#feature{
  padding: 7% 15%;
  background-color: #fff;
  /* position: relative;
  z-index: 1; */
}

.feature-box{
  text-align: center;
  padding: 5%;
}
h2{
  color: white;
  text-align: center;
  padding-bottom: 0;
}

h3{
  font-family: "Ubuntu";
  font-weight: bold;
}

p {
  color: #8f8f8f;
  text-align: center;
}
.icon{
  margin-bottom: 1.5rem;
}

.icon:hover{
  color: #808080;
}
.feature-box-bo{
  text-align: center;
}

/* testomonil section  */
#testomonil{
  padding: 7% 15%;
  background-color: #000;
  text-align: center;
  color: white;
}
#form-id{
    padding:7% 15%;

}
#footer{
  padding: 7% 15%;
  text-align: center;
  background-color: #000;
}

.obj{
  color: white;
}
.text_para{
  padding: 7% 15%;
}
/* footer section */

/* #sign-up{
  padding: 7% 15%;
} */

.f-icon{
  margin-bottom: 1rem;
  /* padding-top: 1.5rem; */
}

.f-icon:hover{
  color: #808080
}
/* signin out  */




/*.lgs{*/
/*    margin-left:5%;*/
/*}*/
.btn-pad{
    margin-left:-2rem;
    margin-top:2%;
}

.btn-log{
    margin-left:45%;
    margin-top:4%;
}
/*.lgs{*/
/*    margin-left:5%;*/
/*}*/
.btn-c{
  margin-left:35%;
  margin-top:4%;
}

@media (max-width: 900px) {
  #title{
    text-align: center;
    font-size: 1rem;
  }
